<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264990578326-ufkpjrueii0j0b4gs385mhi38mpphct6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264990578326-ufkpjrueii0j0b4gs385mhi38mpphct6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>264990578326-c6uogffth602rdpjb790eh8t4rn64128.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCr8i5GsWn7yigRvZG621OhOPrep2WRXKE</string>
	<key>GCM_SENDER_ID</key>
	<string>264990578326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatmassegeapp</string>
	<key>PROJECT_ID</key>
	<string>chatmessageapp-89b48</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmessageapp-89b48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264990578326:ios:7068401e8eaa7d3d9954b7</string>
</dict>
</plist>